# Dependencies
node_modules/
jspm_packages/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnpm-store

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# Metro & Caches
.metro-health-check*
.npm
.cache
.parcel-cache
.turbo
*.tsbuildinfo
.eslintcache
.stylelintcache

# Logs
logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
lerna-debug.*

# macOS & Windows
.DS_Store
*.pem
Thumbs.db

# Environment variables
.env
.env.*
!.env.example
